body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    color: white; /* Text color */
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg, #ff6b6b, #dda0dd); /* Linear gradient background color */
}

span {
    color: red; /* Text color for <span> elements */
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: black; /* Background color */
    border-radius: 5px;
    box-shadow: violet 0px 20px 30px -10px; /* Box shadow color */
}

h1 {
    text-align: center;
    color: blue; /* Text color for the heading */
    margin-top: 50px; /* Adjust as needed */
    font-size: 2.5em; /* Adjust as needed */
}

input {
    outline: none;
    border: none;
    padding: 5px;
}

button {
    color: white; /* Text color */
    padding: 10px;
    border: 2px solid white; /* Border color */
    background: black; /* Background color */
    display: block;
    margin-top: 10%;
    cursor: pointer;
}
